<!DOCTYPE html>
<html xmlns:th="http://thymrleaf.org">
<head>
<meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>Insert title here</title>
</head>
<body>
  <div class="row">
    <form class="col s12" method="post" action="salvaLugar"
    style="">
    	<input type="hidden" name="id" th:value="${lugar?.id}">
        <div class="input-field col s12">
          <input type="text" class="validate" name="palavraChave" th:value="${lugar?.palavraChave}" required>
          <label for="email">Palavra chave</label>
        </div>
        <div class="input-field col s12">
          <input type="text" class="validate" name="proposito" th:value="${lugar?.proposito}" required>
          <label for="email">Proposito</label>
        </div>
        <div class="input-field col s12">
          <input type="text" class="validate" name="localizacao" th:value="${lugar?.localizacao}" required>
          <label for="email">Localização</label>
        </div>
        <div class="btn">
        <button type="submit">Salvar</button>
      </div>
    </form>
  </div>

</body>
</html>