<!DOCTYPE html>
<html xmlns:th="http://thymrleaf.org">
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
    	*{
    		margin:0;
    		padding:0;
    		width: 100%;
    		box-sizing: border-box;
    	}
    	
    	body{
    		padding: 50px;
    		width: 100%;
    		margin: auto;
    	}
    
    	form{
    		
    		width: 50%; 
    		margin: 100px auto; 
    		border: 1px solid lightgrey; 
    		border-radius: 70px; 
    		padding: 100px; 
    		box-shadow: 5px 5px 30px 1px grey;
    	}
    </style>
</head>
<body>
	<header th:replace="fragment/padrao :: cabecalho"></header>

	<div class="row">
	    <form >
	      <div class="row">
	        <div  class="input-field  s6">
	          <i class="material-icons prefix">account_circle</i>
	          <input id="icon_prefix" type="text" class="validate" name="email">
	          <label for="icon_prefix">Login</label>
	        </div>
	        <div class="input-field  s6">
	          <i class="material-icons prefix">lock</i>
	          <input id="icon_telephone" type="tel" class="validate" name="senha">
	          <label for="icon_lock">Password</label>
	        </div>
	      </div>
	      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		  </button>
	    </form>
	  </div>

</body>
</html>